<div class='video'>
  <h2 class="title">{{title}}</h2>
  <p>{{description}}</p>
  <iframe width="400" height="225" src="https://www.youtube.com/embed/{{id}}" frameborder="0" allowfullscreen></iframe>
</div>
